.site-header, .site-footer {
    background: #4f4141;
    border: none;
    border-top: 5px rgb(224,176,132) solid;
    border-bottom: 5px rgb(224,176,132) solid;
}

.site-header .site-logo {
    position: absolute;
    top: 0;
    left: -50px;
    max-width: initial;
}

.site-header .site-title,
.site-footer .footer-heading {
    color: #ffe5c4;
}

.site-header .site-title {
    position: absolute;
    top: -5px;
}

.site-header .site-nav a {
    color: #291a08;
    padding: 0.35em 0.7em 0.5em 0.7em;
    background: linear-gradient(to bottom right,#CA8D60,#D8A474,#CA8D60);
    border-radius: 3px;
    line-height: 0.8em;
}

.site-header .site-nav a:not(:last-child):not(.page-link) {
    margin-right: 10px;
}

.site-header .site-nav a:hover {
    text-decoration: none;
    color: #904328;
}

.site-header .site-nav a:active,
.site-header .site-nav a:focus {
    color: #904328;
    box-shadow: inset 0 0 1px 1px #904328;
}

.page-content {
    background-color: #c0aca8;
}

.page-content ol.nested > li:not(:first-child) {
    margin-top: 10px;
}

.page-content ol.nested ol {
    margin-bottom: 0;
}



/* classes for centering images */
.center-image {
    margin: 0 auto;
    display: block;
}


/* handles menus per screen size */
@media screen and (max-width: 750px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background: #904328;
        border: 1px #291a08 solid;
        box-shadow: #291a08 0 0 10px 1px;
        border-radius: 3px;
        text-align: center;
    }
    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }
    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }
    .site-nav .menu-icon > svg {
        fill: #ffe5c4;
    }
    .site-nav input ~ .trigger {
        clear: both;
        display: none;
    }
    .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 3px;
    }
    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin: 0 4px;
    }

    .site-nav .page-link:not(:first-child) {
        margin-top: 3px;
    }
    .site-nav .page-link:not(:last-child) {
        margin-right: 4px;
    }
}

@media screen and (max-width: 800px) {
    .site-header .site-logo {
        left: 0;
    }
}
